<form action="index.html" method="post" novalidate id="order-form">
	<div class="row">
		<div class="col-sm-12 col-md-12">
		<table class="table">
		  <thead>
			<tr>
			  <th>Product</th>
			  <th>Unit Cost</th>
			  <th class="text-center">
			  <span class="hidden-xs">Quantity</span>
			  <span class="visible-xs">QNT</span>
			  </th>
			  <th class="text-right">Total</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td class="vert-align">Bed</td>
			  <td class="vert-align">{{ 700 | currency:"$":0 }}</td>
			  <td class="text-center">
				<select class="form-control form-control-inline" ng-model="myBed" ng-options="opt as opt.label for opt in options"></select>
			  </td>
			  <td class="text-right vert-align">{{ myBed.value * 700 | currency:"$":0  }}</td>
			</tr>							
			<tr>
			  <td class="vert-align">Nightstand</td>
			  <td class="vert-align">{{ 400 | currency:"$":0  }}</td>
			  <td class="text-center">
				<select class="form-control form-control-inline" ng-model="myNightstand" ng-options="opt as opt.label for opt in options"></select>
			  </td>
			  <td class="text-right vert-align">{{ myNightstand.value * 400 | currency:"$":0  }}</td>
			</tr>							
			<tr>
			  <td class="vert-align">Hammock</td>
			  <td class="vert-align">{{ 600 | currency:"$":0  }}</td>
			  <td class="text-center">
				<select class="form-control form-control-inline" ng-model="myHammock" ng-options="opt as opt.label for opt in options"></select>
			  </td>
			  <td class="text-right vert-align">{{ myHammock.value * 600 | currency:"$":0  }}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		  </tbody>
		</table>
		</div>	


	<div class="col-sm-6 col-md-6">

		<table class="table">
		  <thead>
			<tr>
			  <th colspan="3" class="text-center">Order sumary</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>Shipping cost:</td>
			  <td></td>
			  <td class="text-right">Free</td>
			</tr>
			<tr>
			  <td>Total:</td>
			  <td></td>
			  <td id="total" class="text-right">{{ (myBed.value * 700) +  (myNightstand.value * 400) + (myHammock.value * 600) | currency }}</td>
			</tr>
		  </tbody>
		</table>
		<p>
		</p>
		<input type="hidden" name="submitted" id="submitted" value="true">
	</div>

</div>
</form>